/* .nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.bookmyshow-body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 5rem;
    position: relative;
    z-index: 0;
} */