* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.landingPage {
    display: flex;
    flex-direction: column;
}

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.genre-container {
    position: fixed;
    top: 4.2rem;
    width: 100%;
}

.movies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem 0 0.5rem 0.5rem;
    position: relative;
    top: 5rem;
    left: 13vw;
    margin-bottom: 4rem;
}

.movie-body {
    display: flex;
}

.movie-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.movie-container {
    width: 20vw;
    height: 65vh;
    border: 1px solid black;
    text-align: center;
    margin: 0 0.5rem 1rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
}

.movie-container>img {
    width: 18vw;
    height: 50vh;
}

.lang-vote {
    display: flex;
    justify-content: space-between;
    padding: 0 0.8rem 0 0.8rem;
    font-size: 1.2rem;
}

.movieCard-popUp {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
}